body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} 

/* dark theme */
html[data-theme='dark']{
  --primary-color: #f2903b;
  --secondary-color:#4a0e5d;
}
html[data-theme='light']{
  --primary-color: #eaf078;
  --secondary-color:#1088bf;
}